.App {
  text-align: center;
}

.mapDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  width: 1000px;
  height: 1000px
}