.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}

.mainContainer {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 600px;
  width: 100%;
}

.nav_container {
  width: 100%;
}

/* leaflet css */

#map {
  aspect-ratio: 1;
  width: 80%;
  max-width: 500px;
  border-radius: 2px;
  border: 5px solid #7a306c;
}

.newClimbForm {
  border: 5px solid #7a306c;
  border-radius: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.form_items {
  margin: 5px;
}

.room1_container {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.hiremelink {
  font-size: xx-small;
}

#logo {
  margin-top: 5%;
  height: 5rem;
  width: 20rem;
}


button {
  border: 2px solid #7a306c;
  color: #000f08;
  background-color: white;
  margin-right: 2px;
  margin-top: 5px;
  border-radius: 2px;
  width: 27%;
}
